* {
  padding: 0;
  margin: 0;
  font-family: Geneva, Tahoma, sans-serif;
  line-height: 1.5;
  box-sizing: border-box;
  background-color: rgb(179, 178, 153);
}

h1 {
  text-align: center;
}

button {
  text-align: center;
  border-radius: 7px;
  padding: 2px;
  background-color: burlywood;
}

.pushable {
  background: rgb(12, 65, 12);
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: crosshair;
  outline-offset: 4px;
}

.front {
  display: block;
  padding: 2px 30px;
  border-radius: 12px;
  font-size: 1.25rem;
  background: burlywood;
  color: rgb(91, 62, 62);
  transform: translateY(-6px);
}

.pushable:active .front {
  transform: translateY(-2px);
}

.highscores {
  float: left;
  margin: 2% 0 0 3%;
}

.timer {
  float: right;
  margin: 2% 3% 0 0;
}

.card{
  height: 80%;
  width: 55%;
  margin: auto;
  padding-top: 10%;
}

.card-content {
  padding: 3% 0 5% 0;
}

.hidden {
  display: none;
}

.feedback {
  font-size: 1.4rem;
  margin-top: 4%;
  padding-top: 2%;
  color: black;
  border-top: 2px solid;
}