* {
  padding: 0;
  margin: 0;
  font-family: Geneva, Tahoma, sans-serif;
  line-height: 2;
  box-sizing: border-box;
  background-color: rgb(209, 186, 154);
  font-size: 1.1rem;
  font-family: 'Times New Roman', Times, serif;
}

h1 {
  text-align: center;
  font-size: 4rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
  padding: 8% 0 10% 0;
  font-size: 1.4rem;
}

p {
  display: block;
}

li {
  margin-left: 5%;
  width: 200px;
}

article {
  display: flex;
  flex-direction: column;
}

button {
  text-align: center;
  border-radius: 7px;
  padding: 2px;
  background-color: antiquewhite;
  margin: 2% 2% 2% 2%;
  width: 200px;
  border: 2px solid black;
  cursor: crosshair;
}

/* classes */

.pushable {
  background: rgb(111, 35, 2);
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: crosshair;
  outline-offset: 4px;
}

.front {
  display: block;
  padding: 2px 30px;
  border-radius: 12px;
  font-size: 1.25rem;
  background: antiquewhite;
  color: rgb(91, 62, 62);
  transform: translateY(-6px);
}

.pushable:active .front {
  transform: translateY(-2px);
}

.highscores {
  float: left;
  margin: 2% 0 0 3%;
}

.timer {
  float: right;
  margin: 2% 3% 0 0;
}

.container {
  height: 80%;
  width: 55%;
  margin: auto;
  padding-top: 10%;
}

.card-content {
  padding: 3% 0 5% 0;
  text-align: center;
}

.hidden {
  display: none;
}

.feedback {
  font-size: 1.4rem;
  margin-top: 4%;
  padding-top: 2%;
  color: black;
  border-top: 2px solid;
}


.btn {
  font-size: 1rem;
  padding: 1%;
  width: 10rem;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  color: var(--brown);
  background-color: antiquewhite;
  margin-bottom: .5rem;
  text-decoration: none;
  cursor: crosshair;
  display: block;
}

.btn:hover {
  transform: translateY(0.2rem);
  transition: transform 200ms;
  box-shadow: 0 .5rem .5rem 0 rgb(135, 44, 19);
  cursor: crosshair;
}

.scorepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 40%;
  width: 40%;
}




/* IDs */

#text-score {
  text-decoration: none;
}
#scorehead {
  font-size: 2rem;
  height: 10%;
  width: 60%;
}

#scoreboard {
  text-transform: uppercase;
}

#result {
  font-size: 2rem;
}

#startbtn {
  margin: 0 auto;
}